
.asset_container{
    min-width: 170px;
    margin: 5% auto;
    padding: 10px;
    display: block;
    border: 3px solid var(--white-color);
    border-radius: 5px;
    width: 95%;
    height: width * 1.618;
    background-color: var(--Secondary-color);
    justify-content: space-between;
    align-items: baseline;
    transition: 0.1s;
    box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);;
}
.asset_container:hover{
    border-radius: 20px;
    transform: scale(1.05);

    background-color: var(--white-color);
    opacity: 0.9;
}
.asset_container:hover .fa-utensils,
.asset_container:hover .fa-ethereum{
    border: 3px solid var(--Primary-color);
    border-radius: 30px;
    color: var(--Primary-color);
}

.user1{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items:unset;
}
.user1 .fa-ethereum, .user1 .fa-utensils{
    margin: 0;
    transition: 0.9s;

}
.fa-ethereum{
    width: 110%;
    text-align: center;
}
.user2{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    text-align: center;
    margin: 0;
    text-overflow: hidden;

}

.post_title >h3, .nft_title>h3{
    width: 100%;
    margin: 0;
    color: var(--black-color);
}
.post_title, .nft_title{
    align-items: baseline;
    top: 0;
    height: 40px;
    text-align: center;
    overflow: hidden;
    font-size: var(--font-large);
}
.location{
    font-size: small;
    color: var(--Primary-color);
}
.creator{
    color: var(--gray-dark-color);

}
.view{
    color: var(--gray-dark-color);

}
.post_num{
    color: var(--gray-dark-color);

}
.createdAt{
    color: var(--gray-dark-color);
}
.image{
    position: relative;
    padding-top: 100%;  /* 1:1 ratio */

}
.image img{
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.post_bottom{
    padding: 2% 1.5% 3% 1.5%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.post_bottom i{
    font-size: small;
    color: var(--Primary-color);
}


.user2 .creator{
    width: 150px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.nft_contract_account button{
    padding: 0 0 3px 0;
    width: 50px;
    height: 20px;
    color: var(--gray-light-color);
    border: 1px solid var(--gray-light-color);
    border-radius: 10px;
    align-items: center;
    text-align: center;
}
.contract_address{
    color: var(--Primary-color);
}