header{
    top: 0;
    position:sticky;
    z-index: 11;
    background-color: var(--Secondary-color);
    display: flex;
    height: 72px;
    align-items: center;
    opacity: 0.9;
}
.header_left{
    width: 33.33%;
    padding: auto;

}
.header_middle{
    width: 33.33%;

    align-items: center;
    justify-content: center;
} 
.header_logo{
margin: auto;
    display: flex;
}
.header_right{
    padding: auto;

    width: 33.33%;
}
.fa-bitcoin{
    font-size: 40px;
    margin: 12px 1% 1% 5%;
    color: var(--white-color);
}
.fa-bitcoin:hover{
    color: var(--Primary-color);  
}
.CI{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.logo>a{
    width: 0px;
}

.fa-drumstick-bite{
    font-size: 32px;
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    transition: 2s;
}
.CI:hover .fa-drumstick-bite{
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: rotate(-110deg);
    transform: rotate(-110deg);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}
.logo a i {
    margin: 0;
    color: var(--onPrimary-color);
}
.CI .bigName a{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 20px;
    font-size: var(--font-large);
    font-weight: bold;
    color: var(--black-color);
}
.CI .bigName h1{
    height: 30px;
}
.CI .smallName{
    font-size: var(--font-small);
    color: var(--black-color);
}
.userMenu{
    margin: 10px 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: right;
}
.userMenu a{
    margin-right: 25px;
}
.signup{
    margin: 10px;
    height: 18px;
    align-items: center;
}
.Login{
    margin: 10px;
    height: 18px;
    align-items: center;
    display: flex;
}
.Login a{
    margin: 5px;
}
.Login:hover .user_info{
    width: 150px;
    
}
.Login .user_info{
    transition: 1s;
    height: 40px;
    width: 0;
    overflow: hidden;
}
.Login .user_info input{
    border: 0;
}
.userMenu h4{
    margin: auto;
}
.userTab{
    z-index: 10;
    display: none;
    padding: 20px 0;
    right: 5px;
    position: absolute;
    height: 260px;
    width: 100px;
    border-radius: 10px;
    align-items: center;
    transition: 0.3s;
}
.user:hover .userTab{
    top: 52px;
    display: grid;
    background-color: white;
    border: 2px solid var(--white-color);
}
.userTab a{
    margin: 0px;
    padding: 5px 0;
    height: 20px;
}
.userTab a:hover{
    color: var(--Primary-color);
}

.fa-user, .fa-utensils, .fa-ethereum{
    margin: 0 15px;
    padding: 10px;
    border: 3px solid var(--white-color);
    border-radius: 10px;
    color: var(--white-color);
    transition: 0.3s;
}
.user{
    transition: 0.3s;

}

.fa-user:hover, .fa-utensils:hover, .fa-ethereum:hover{
    border: 3px solid var(--Primary-color);
    border-radius: 50px;
    color: var(--Primary-color);
}
.fa-bitcoin:hover{
    color: var(--Primary-color);  
}
a{
    color: var(--black);
}
