*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    list-style: none;
    text-decoration: none;
}
.post_button_head {
    font-family: Helvetica;

}
:root{
    /* Color */
    --white-color : #fff;
    --black-color : #0000004d;
    --Primary-color: #ff8800;
    --onPrimary-color: #fb9e52;
    --Primary-Container-color: #asdf323;
    --onPrimary-Container-color: #asdf323;

    --Secondary-color: #f2f2f2;
    --onSecondary-color: #000000;
    --Secondary-Container-color: #asdf323;
    --onSecondary-Container-color: #asdf323;
    --gray-dark-color: #6b6b6b;
    --gray-light-color: #b6b6b6; 

    /* Size */
    --padding: 10px;
    --avatar-size:48px;

    /* Font Size */
    --font-large:24px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;

}

.login_modal {
    overflow: hidden;
}

.write{
    width: 100%;
}
.post_button{
    position: relative;;
    background-color: var(--onPrimary-color);
    width: 100%;
    margin: 0;
    text-align: center;
    align-items: center;
    color: var(--white-color);
    filter: brightness(0.95);
    transition: 0.5s;
    background-color: #000000;
}
.post_button img{
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    height: auto;
}
.post_button:hover{
    font-size: 140px;
    color: var(--white-color);
    transform: scale(1.01);
    filter: brightness(1.05);
}

.category{
    background-image: url('../image/category_1.png');
    display: flex;
    height: auto;
    min-height: 30px;
    width: 100%;
    font-size: var(--font-medium);
    color: var(--gray-light-color);
    justify-content: space-around;
    align-items: center;
    transition: 1s;
}
.narrow{
    padding: 1px;
    display: none;
    text-align: center;
    align-items: center;

}
.fa-caret-down{
    margin: 1%;

}
.toggle_category_1{
    margin-bottom: 10px;
    display:grid;

}
.toggle_category_1 h2{
    color: var(--black-color);
    margin-bottom: 10px;
}
.toggle_category_1 a{
    padding: 3px;
    margin-top: 10px;
}
.toggle_category_1 a:hover{
    color: var(--Primary-color);
    background-color: var(--white-color);
    opacity: 0.7;
}
.toggle_category_2{
    display: flex;
    justify-content: space-around;

}
.wide h2{
    color: var(--onPrimary-color);
    transform:scale(1.0) ;
    transition: 0.2s;
}
.wide h2:hover{
    color: var(--Primary-color);
    transform:scale(1.5) ;

}
.fa-caret-down{
    display: none;
}

.post_list{
    padding: 2% 5% 10% 5%;
    height: 100%;
    background-color: var(--Secondary-color);
    align-items: center;
}
.post_list:hover .post_head h2{
    color: var(--Primary-color);
    
}
.nft_list{
    height: 100%;
    background-color: var(--Secondary-color);
    align-items: center;
}
.nft_list:hover .nft_head h2{
    color: var(--Primary-color);
    
}
.post_head h2,.nft_list h2{
    margin-left: 0.6%;
    color: var(--white-color);
    transition: 0.8s;
}
.post_wrapper,  .nft_wrapper{
    padding: 1%;
    min-height: 850px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr) );
    margin: 0;
    justify-content: space-between;
    align-items: baseline;
}

.footer{
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.footer .logo{
    margin: 10% 0;
}
.web{
    width: auto;
    justify-content: center;

}
.footer .team{
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 77%;
    left:0;
    margin: auto;
    padding: 20px;
    width: 300px;
    height: 450px;
    border-radius: 5px;
    background-color: var(--white-color);
    opacity: 0.9;
    transition: 0.9;
}
.footer .project{
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0;
    left:77%;
    margin: auto;
    padding: 20px;
    width: 300px;
    height: 450px;
    border-radius: 5px;
    background-color: var(--white-color);
    opacity: 0.9;
    transition: 0.9;
}
.footer .project:hover,.footer .team:hover{
    opacity: 1;
}
.main .pagination  {
    margin: 2% auto 1% auto;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50%;
    border-radius: 20px;
    transition: 0.5s;
    background-color: var(--white-color);

}

.pagination :hover{
    background-color: var(--white-color);
    border-radius: 20px;
}
.pagination_num{
    color : var(--gray-dark-color);
    transition: 0.3s;

}
.pagination_num:hover{
    color : var(--Primary-color);
    transform: scale(1.1);
    
}
.pagination button{
    display: flex;
    width: 100%;
    background-color: rgba(240, 248, 255, 0.164);
    border-color:rgba(255, 228, 196, 0);
    padding: 5px;
    align-items: center;
    text-align: center;
    justify-content: space-around;

}
select{
    text-align-last: center;
}
.under_footer{
    width: 100%;
    height: 50px;
    background-color: black;
    
}


@media screen and (max-width: 1300px){
    .post_wrapper,.nft_wrapper{
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr) );
        }
    
}
@media screen and (max-width: 1024px){

    .footer .project{
        left:50%;
    }
    .footer .team{
        right: 50%;
    }



}
@media screen and (max-width: 768px){
    .post_wrapper,  .nft_wrapper{
        padding: 2%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr) );
        margin: 0;
        justify-content: space-between;
        }
    .wide{
        display: none;
    }
    .narrow{
        display: block;
        justify-content: center;
    }
    .fa-caret-down{
        display: block;
    }
    .header_right .fa-user{
        display: none;
    }
    
    .footer .team{
        position: absolute;
        top: 0px;
        bottom: 0;
        right: 0;
        left:0;
        margin: auto;
        padding: 20px;
        width: 300px;
        height: 450px;
        border-radius: 5px;
        background-color: var(--white-color);
        opacity: 0.8;
        transition: 0.8;
    }
    .footer .project{
        display: none;
    }

}
@media screen and (max-width: 480px){
    .post_wrapper,  .nft_wrapper{
        padding: 1%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr) );
        margin: 0;
        justify-content: space-between;
        }
    .post_button{
        font-size: 80px;
    }
    .post_button:hover{
        padding: 0;
        margin: 0;
        font-size: 120px;
        color: var(--white-color);
        transform: scale(1.01);
        filter: brightness(1.05);
    }    
}
