.market{
    background-color: var(--Secondary-color);
    height: 100%;
}
.market .pagination {
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50%;
    border-radius: 20px;
    transition: 0.5s; 
    background-color: var(--white-color);
}

.market .pagination :hover{
    background-color: var(--white-color);
    border-radius: 20px;
}

.market{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.market .market_section{
    padding: 1rem;
    width: 45%;
}

/* minting 섹션 */
.market_section .section_title h1{
    text-align: center;
    align-items: center;

}

.market_section .mint_section {
    margin: 3%;
    border-radius: 1rem;
    overflow:hidden;
}

.market_section .mint_section .mint_form_wrapper{
    padding: 1rem;
}



/* 이미지 업로드 */

.market_section .image_input_wrapper .image_input_helper{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    font-size: 2rem;
    font-weight:700;
    background-color: var(--gray-light-color);
    color: var(--black-color);
    cursor:pointer;
    transition: 0.5s;
}

.market_section .image_input_wrapper .image_input_helper .image_input_guide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.image_input_wrapper .image_input_helper .image_preview_wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: var(--black-color);
}

.image_input_wrapper .image_input_helper .image_preview_wrapper img{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

.image_input_wrapper .image_input_helper .image_preview_wrapper:hover::after{
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 5;
    content: "Click to change image.";
    font-size: 2rem;
    font-weight: 700;
    color: var(--black-color);
    transition: 0.5s;
    filter:none;
}

.market_section .image_input_wrapper .image_input_helper:hover{
    filter: brightness(0.5);
}

.market_section .image_input_wrapper .image_input{
    display:none;
}



/* 민팅 폼*/
.mint_section .mint_form_wrapper .input_group{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.mint_form_wrapper .input_group label{
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.mint_form_wrapper .input_group input,
.mint_form_wrapper .input_group textarea
{
    border: none;
    border-bottom: 1px solid var(--gray-light-color);
    font-size: 1rem;
}

.mint_form_wrapper .input_group input:focus,
.mint_form_wrapper .input_group textarea:focus
{
    outline: none;
}

.mint_form_wrapper .input_group input{
    padding: 0 0 0.2rem 0;
}

.mint_form_wrapper .input_group textarea{
    padding: 0.5rem;
    border : 1px solid var(--gray-light-color);
    border-radius: 0.5rem;
    resize: none;
}

.mint_section .mint_wrapper{
    background-color: var(--white-color);
}

.mint_wrapper .mint_form_wrapper .btn_group{

}

.mint_wrapper .btn_group {
    display: flex;
    justify-content: space-evenly;
}

.mint_wrapper .btn_group .btn{
    display: block;
    border: 1px solid var(--gray-light-color);
    border-radius: 0.5rem;
    width: auto;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    transition: 0.5s
}

.mint_wrapper .btn_group .btn:hover{
    cursor: pointer;
    filter: brightness(0.5)
}

.mint_wrapper .btn_group .btn.btn_mint{
    background-color: var(--Primary-color);
}

.market_section .nft_wrapper{
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr) );
}
@media screen and (min-width: 360px){
    .market .post_wrapper{
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr) );
        }
    .market .post_button{
        font-size: 80px;
    }
    .market .post_button:hover{
        padding: 0;
        margin: 0;
        font-size: 120px;
        color: var(--white-color);
        transform: scale(1.01);
        filter: brightness(1.05);
    }    
    .market .market_section{
        margin: 1%;
        width: 98%;
    }

}
@media screen and (max-width: 620px){

    .market .nft_wrapper{
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr) );
        }
    .market .market_section{
        margin: 5%;
        width: 90%;
    }
        
    
}



@media screen and (min-width: 1400px){
    .market .nft_wrapper{
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr) );
    }
    .market .market_section{
        margin: 2%;
        width: 45%;
    }
    .market {
        display: flex;
        justify-content: center;
    }

}