.login_modal{
    position: relative;
}
.ReactModal__Content--after-open{
    transform: scale(1);
    transition: 1.7s;
}
.ReactModal__Content--after-open:active{
    transform: scale(1.05);
}

.login_user_info>input{
    margin: 0 1%;
    width: 85%;
    height: 35px;   
}
.login_user_info>h2{
    
    margin: 0 35px ;
    color: var(--gray-light-color);
    text-align: left;
}
.login_modal>h1{
    font-size:50px;
    color: var(--Primary-color);
}
.login_modal_CI{
    margin-top: 50px;
}
.login_modal .welcome{
    margin-bottom: 3%;
}
.login_modal>.fa-xmark{
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 3;
    color: var(--Primary-color);
    transform: translate(-50%, -50%);
    transition: 0.4s;
    transform: scale(1);
}
.login_modal>.fa-xmark:hover{
    color: var(--Primary-color);
    transform: translate(-50%, -50%);
    transform: scale(1.5);

}
.login_modal button{
    display: flex;
    width: 100%;
    background-color: rgba(240, 248, 255, 0.164);
    border-color:rgba(255, 228, 196, 0);
    padding: 0;
    margin: 0;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    border: 0;
}
.login_modal button h3{
    font-size: 20px;
}
.login_modal .login_button{
    margin-top: 30px;
    padding: 16px;

    width: 100%;
    border: 1px solid var(--Primary-color);
    color: var(--Primary-color);
    height: 50px;
    align-items: center;
    transition: 0.5s;
}
.login_modal .login_button:hover{
    color: var(--white-color);
    background-color: var(--Primary-color);

}
.login_modal .sign_up_with{
    display: block;
}
.login_modal > h3{
    padding: auto;
}
.modal_sign_up_button{
    margin-top: 30px 0 0 0;
    padding: 12px;
    border: 1px solid var(--Primary-color);
    border-radius: 10px;
    color: var(--white-color);
    align-items:center;
    background-color: var(--Primary-color);
    transition: 0.5s;
    width: 100%;
    height: 50px;
}
.modal_sign_up_button:hover{
    border: 1px solid var(--white-color);
    color: var(--Primary-color);
    align-items:baseline;
    background-color: var(--white-color);
}
.modal_naver{
    padding: 5px 20%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid var(--gray-light-color);
    border-radius: 10px;
    justify-content: center;
}
.modal_naver>h1{
    margin: 0 10px 0 0 ;
    font-weight: bold;
    color: rgb(95, 203, 95);
    transition: 0.5s;

}
.modal_naver:hover{
    border: 1px solid rgb(95, 203, 95) ;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color:rgb(95, 203, 95) ;
    transition: 0.1s;

    }
.modal_naver:hover h1{
    color: rgb(255, 255, 255);

}
.create_your_account{
    margin-top: 30px;
}

.login_modal .fa-xmark{
    color: var(--gray-light-color);
}
.hide{
    display: none;
}