.mypage{
    display: flex;
    background-color: var(--Secondary-color);
    padding-bottom: 80px;

}
.mypage > .user_info{
    margin: 1.5%;
    padding: 15px;
    width: 200px;
    background-color: var(--white-color);
}
.mypage > .pagination{
    padding: 2% 1%;
    align-items: center;

}
.mypage > .pagination select{
    margin: 15%;
    padding: auto;
    width: 70%;

}
.mypage .pagination_button .pagination_num{
    color : var(--gray-dark-color);
    text-align: center;
    
}
.mypage .pagination_num:hover{
    color : var(--Primary-color);
    transition: 0.3s;
    transform: scale(1.2);
    
}

.nickname, .email, .eth, .erc20,.receivers_address, .amount,.wallet_account{
    margin: 2%;
}
.token_transfer{
    margin-top: 25%;
}

.account{
    width: 150px;
    display: flex;
    align-items: center;
}

.account button{
    padding: 0 0 3px 0;
    width: 50px;
    height: 20px;
    color: var(--gray-light-color);
    border: 1px solid var(--gray-light-color);
    border-radius: 10px;
    align-items: center;
    text-align: center;
}
.account button:focus{
    border: 1px solid var(--Primary-color);
    color: var(--Primary-color);
}
.account button:hover{
    background-color: var(--gray-light-color);
    color: var(--white-color);
}
.wallet_account p{
    width: 120px;
    height: auto;
    text-overflow: ellipsis;
    overflow: hidden;
}
.mypage .post_wrapper, .mypage .nft_wrapper{
    width: 100%;
    padding: 1%;
}
.mypage .post_wrapper h2{
    padding: 1%;

}
.my_assets{
    color: var(--white-color);
    text-align: center;
    transition: 0.3s;
}
.mypage:hover .my_assets{
    color: var(--Primary-color);

}
.transaction{
    padding: 5% 0;
    text-align: center;
    border: 1px solid var(--Primary-color);
    color: var(--Primary-color);
    border-radius: 10px;
    transition: 0.5s;
}
.transaction:hover{
    background-color:  var(--Primary-color);
    color: var(--white-color);

}

@media screen and (max-width: 1024px){
    .mypage{
        display: block;
        padding: 2%;
    }
    .mypage > .user_info{
        display: flex;
        padding: 15px;
        width: auto;
        border-radius: 20px;
        background-color: var(--white-color);
        justify-content: center;
    }
    .user_info_1{
        display: block;
    }
    .user_info_1>h2, .user_info_1>h3{
        margin: 2%;

    }
    .user_info_2{
        margin: 2%;
        display: flex;
    }
    .token_transfer{
        margin-top: 0%;
    }
    .mypage > .pagination{
        padding: 2% 1%;
        align-items: center;
    
    }
    .mypage > .pagination select{
        display: none;
    
    }
    .pagination_button{
        display: flex;
    }
    
}
@media screen and (max-width: 768px){
    .mypage{
        display: block;
        padding: 2%;
    }
    .mypage > .user_info{
        display: flex;
        margin: 0;
        padding: 15px;
        width: auto;
        border-radius: 20px;
        background-color: var(--white-color);
        justify-content: space-around;
        align-items: baseline;
    }
    .user_info_1{
        display: block;
    }
    .user_info_2{
        display: flex;
    }
    .token_transfer{
        margin-top: 0%;
    }
}
@media screen and (max-width: 480px){

}