.nft_detail{
    justify-content: center;
    width: 100%;
}
.nft_detail .nft_wrapper{
    width: 80%;
    margin: auto;
    padding: 1%;
    display: grid;

}

.nft_detail_wrapper{
    width: 80%;
    margin: auto;
    padding: 1%;
    display: flex;
}
.nft_detail_wrapper > h1,
.nft_detail_wrapper > h2,
.nft_detail_wrapper > h3,
.nft_detail_wrapper > h4,
.nft_detail_wrapper > h5{
margin: 1%;}
.nft_detail_wrapper .nft_image{
    padding: 1%;
    border: 1px solid var(--gray-light-color);
    border-radius: 20px;
    background-color: var(--prime-color);
}
.nft_detail_wrapper .nft_info{
    margin: 0 0 1% 1%;
    padding: 30px 20px;
    border: 1px solid var(--gray-light-color);
    border-radius: 20px;
    background-color: var(--prime-color);

}
.nft_detail_wrapper .nft_name{
padding: 1%;

    
}
.nft_detail_wrapper .nft_description{
    padding: 1%;
    border: 1px solid var(--gray-light-color);
        
}
.nft_detail_wrapper .nft_attributes{
    padding: 1%;
    border: 1px solid var(--gray-light-color);
    
}

.nft_detail > .nft_wrapper{

}

.nft_image img{
    max-width: 420px;
}