.nft_detail{
    justify-content: center;
    width: 100%;
}
.nft_detail .nft_wrapper{
    width: 80%;
    margin: auto;
    padding: 1%;
    display: grid;

}

.nft_detail_wrapper{
    width: 90%;
    margin: 2% auto;
    padding: 1%;
    display: flex;
    position: relative;
}
.nft_detail_wrapper > h1,
.nft_detail_wrapper > h2,
.nft_detail_wrapper > h3,
.nft_detail_wrapper > h4,
.nft_detail_wrapper > h5{
margin: 1%;}

.nft_detail_wrapper .nft_image, .nft_detail .nft_info{
    margin: 5% 1%;
}
.nft_image_body{
    width: 100%;
    height: 90%;
    overflow: hidden;
    margin: auto;
}
.nft_detail_wrapper .nft_image{
    width: 50%;
    height: 600px;
    padding: 1%;
    border: 1px solid var(--gray-light-color);
    border-radius: 20px;
    background-color: var(--prime-color);
    align-items: center;
    overflow: hidden;
    justify-content: center;
}
.nft_image img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 420px;
}

.nft_detail_wrapper .nft_info{
    width: 50%;
    padding: 30px 20px;
    border: 1px solid var(--gray-light-color);
    border-radius: 20px;
    background-color: var(--prime-color);
    overflow: scroll;
}
.nft_detail_wrapper .nft_name{
padding: 1%;

    
}
.nft_description{

}
.nft_detail .nft_description{
    margin: 10% 0 10% 0;
    min-height: 120px;
    color: var(--Prime-color);
    padding: 5%;
    border: 1px solid var(--gray-light-color);
    align-items: center;
    text-align: center;
}
.nft_detail .nft_description:hover{
}
.nft_detail_wrapper .nft_attributes{
    padding: 1%;
    
}




.date, .nft_price, .nft_creator{
    height: 60px;
}
.nft_detail .nft_attributes:hover  h2{
    
}

.nft_image_top{
    margin: 2%;
    display: flex;
    justify-content: space-between;

}

.nft_detail .date, .nft_detail_numbers,.nft_creator{
    display: flex;
    justify-content: space-around;
    border: 1px solid var(--gray-light-color);
    align-items: center;
}
.nft_price>h4{
    color: var(--Prime-color);
}
.nft_detail_user_info{
    text-align: left;
}

@media screen and (max-width: 1300px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 820px){
    .nft_detail_wrapper{
        display: block;
        margin: auto;
        padding: 0;
        align-items: center;
        width: 80%;

        justify-content: center;
    }
    .nft_detail_wrapper .nft_image{
        width: 100%;
    }
    .nft_detail_wrapper .nft_info{
        width: 100%;
    }
}
@media screen and (max-width: 480px){
    .nft_detail_wrapper{
        display: block;
        margin: auto;
        padding: 0;
        align-items: center;
        width: 96%;

        justify-content: center;
    }
    .nft_detail_wrapper .nft_image{
        width: 100%;
    }
    .nft_detail_wrapper .nft_info{
        width: 100%;
    }
}
