.nft_detail{
    display: grid;
    grid-column: 2fr;
}
.nft_detail > div{
width: 360px;
height: 580px;
}
.nft_detail .nft_image{
    width: 50%;
    height: 70%;
    background-color: var(--prime-color);
    opacity: 0.3;
}
.nft_detail .nft_name{
    width: 50%;
    height: 70%;
    background-color: var(--prime-color);
    opacity: 0.4;
}
.nft_detail .nft_description{
    width: 50%;
    height: 70%;
    background-color: var(--prime-color);
    opacity: 0.5;
}
.nft_detail .nft_attributes{
    width: 50%;
    height: 70%;
    background-color: var(--prime-color);
    opacity: 0.6;
}