
.pagination{
    /* margin: auto;
    padding: 0 2%;
    width: 40%;
    height: 40px;    
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--white-color);
    border-radius: 50px; */

}
.pagination div{
    
    margin: 3%;
}
.pagination div :hover{
}
.pagination div i{
    transform: scale(1);
    transition: 0.5s;
    color: var(--white-color);

}
.pagination div i:hover{
    transform: scale(1.3);
    color: var(--Primary-color);
}
.pagination_num{
    color : var(--gray-dark-color);
    transition: 0.3s;

}
.pagination_num:hover{
    color : var(--Primary-color);
    transform: scale(1.1);
    
}