

.pagination{
    max-width: 720px;
    width: 80%;
    align-items: center;
    justify-content: center;
}
.pagination button{ 
    width: 80px;

}
.search_bar{
    width: 100%;
    align-items: center;

}
.search_bar input{
    margin: 1%;
    width: 100%;
    height: 30px;
    border: 1px solid var(--Primary-color);
    border-radius: 20px;
}
.search_bar_hide{
    width: 0;

}