.detail_section {
    width: 600px;
}

.detail_container {
    display: flex;
    gap: 1rem;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5rem;
}

/* 네비게이션 바*/
.detail_section .detail_navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid var(--gray-light-color);
}

.detail_section .detail_navbar .btn{
    display: inline;
    width: auto;
    font-weight: 700;
}

.detail_section .detail_navbar .btn span{
    margin-left: 0.5rem;
}

.detail_section .detail_navbar .btn:hover {
    cursor: pointer;
}

.detail_section .detail_navbar .btn.ellipsis{
    position:relative;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    border-radius: 100%;
    transition: 0.5s;
}

.detail_section .detail_navbar .btn.ellipsis .fas{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}

.detail_section .detail_navbar .btn.ellipsis:hover{
    background-color: var(--gray-light-color);
}


/* 헤더 */
.detail_section .detail_header {
    padding: 1rem 0;
    border-bottom: 1px solid var(--gray-light-color);
    margin-bottom: 1rem;
}

.detail_section .detail_header {
    padding: 1rem;
}


.detail_section .detail_header .detail_header_row{
    margin-bottom: 0.5rem;
}

.detail_section .detail_header .detail_header_row:last-child{
    margin-bottom: 0;
}

.detail_header .header_section{
    display: flex;
}

.detail_header .detail_header_row{
    display: flex;
    justify-content: space-between;
}

.detail_header .detail_title_wrapper, .detail_header .detail_data_wrapper{
    display: flex;
    justify-content: space-between;
}

.detail_header .detail_postid, 
.detail_header .detail_data,
.detail_header .detail_date
{
    color: var(--gray-dark-color);
}

.detail_header .detail_postid, 
.detail_header .detail_date
{
    text-align: right;
}


.detail_header .detail_title {
    width: 300px;
    font-size: 1rem;
    overflow:hidden;
    text-overflow: ellipsis;
}

.detail_header p.detail_data * {
    margin-right: 0.5rem;
}

/* 유저 프로필 */

.detail_profile_wrapper .profile_frame{
    position: relative;
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
    overflow:hidden;
}

.detail_profile_wrapper .profile_frame img{
    position: absolute;
    width:100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 이미지 슬라이드 */
.detail_wrapper .detail_image_wrapper{
    margin-bottom: 1rem;
    background-color: #000;
}

.detail_wrapper .detail_image_wrapper .swiper{
    height:400px;
}

.swiper_image_wrapper{
    background-color: #000;
    position:relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.swiper_slide {
    width: 100%;
    overflow: hidden;
}

.swiper_image_wrapper img{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    height:100%;
}

.detail_header .detail_header_row .detail_title.detail_update{
    border:none;
    border-bottom: 1px solid var(--gray-light-color);
    outline:none;
}

/* 상세내용 */
.detail_section .detail_content_wrapper {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--gray-light-color);
}

.detail_section .detail_content_wrapper .detail_content{
    min-height: 300px;
    padding: 0 0.5rem;
}

.detail_content_wrapper .detail_content.detail_update{
    width: 100%;
    resize: none;
    outline:none;
    border:none;
}

.detail_section .detail_content_wrapper .content_tail{
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
}

.content_tail .content_like,
.content_tail .content_writer_wallet 
{
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    transition: 0.5s;
}

.content_tail .content_like:hover{
    background-color: var(--gray-light-color);
    color: var(--white-color);
    cursor: pointer;
}

.content_tail .content_like .like_num,
.content_tail .content_writer_wallet .content_writer_address
{
    margin-left: 0.5rem;
}

.content_tail .content_writer_wallet {
    display: flex;
    position: relative;
    align-items: center;
    transition: 0.5s;
}

.content_tail .content_writer_wallet:hover {
    cursor: pointer;
    background-color: var(--gray-light-color);
    color: var(--white-color);
    transition: 0.2s;
}

.content_tail .content_writer_wallet:active{
    color: var(--white-color);
    opacity: 1;
    
}

.content_tail .content_writer_wallet:active{
    color: var(--black-color);
}

.content_tail .content_writer_wallet .content_writer_address{
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content_tail .content_writer_wallet::after{
    content: "copy";
    position:absolute;
    padding:0.2rem 0.5rem;
    top: -105%;
    left: 30%;
    background-color: var(--black-color);
    border-radius: 1rem;
    opacity: 0;
    
}

.content_tail .content_writer_wallet:hover::after{
    color: var(--white-color);
    opacity: 1;
    transition: 0.2s;
}

.content_tail .content_writer_wallet:active::after{
    color: var(--black-color);
}



/* 상세 맵 */
.detail_section .detail_location_wrapper .detail_location_name{
    margin-left: 1rem;
}
.detail_section .detail_location_wrapper{
    padding: 1rem;
}


@media screen and (max-width: 480px){
    .detail_container{
        gap: 0;
    }

    .detail_header .detail_postid,
    .detail_header .detail_data,
    .detail_header .detail_date 
    {
        font-size: 0.2rem;
    }
}