
.post_container{
    margin: 2% auto;
    padding: 10px;
    display: block;
    border: 1px solid var(--white-color);
    border-radius: 10px;
    width: 90%;
    height: 500px;
    background-color: var(--Secondary-color);
    justify-content: space-between;
    align-items: baseline;
    overflow: hidden;
    transition: 0.2s;
}
.post_container:hover{
    transform: scale(1.02);
    background-color: var(--white-color);
    opacity: 0.9;
}
.user1{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.user1 .fa-user{
    margin: 0;
}
.user2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 0;
}
.user_img{
}
.post_title{
    font-size: var(--font-large);
}
.creator{}
.view{}
.post_num{}
.createdAt{}
.image{
    width: 100%;
    height:auto; 
    align-items: center;

}
.image img{
    border-radius: 20px;
    width: 100%;
    height: auto;
}
.contents{}
.comments{}