.container {
    display: block;
    justify-content: center;
}

.write_wrapper{
    margin: auto;

    justify-content: center;
    width: 600px;
}

.post_image_wrapper, 
.kakaomap_wrapper,
.post_title_wrapper,
.post_content_wrapper
{
    margin-bottom: 1rem;
}


.post_content_wrapper .content_textarea::placeholder,
.post_title_wrapper .title_input::placeholder
{
    color: var(--gray-light-color);
    font-style:italic;
}

.post_title_wrapper .title_input:focus,
.post_content_wrapper .content_textarea:focus
{
    outline: none;
}

/* 작성글 제목 */
.post_title_wrapper{
    
}

.post_title_wrapper .title_input{
    width: 100%;
    padding: 0.5rem;
    border:none;
    border-bottom: 1px solid #ebebeb;
    font-size: 2rem;
    font-weight: 700;
}

/* 작성글 지도 */
.kakaomap_wrapper {
    
}

/* 작성글 이미지 */
.post_image_wrapper .image_preview_wrapper{
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
}

.post_image_wrapper .image_input{
    display:none;
}

.post_image_wrapper .swiper{
    height: inherit;
}

.post_image_wrapper .image_input_helper{
    box-shadow: 0 0 0.2rem;
    width: 100%;
    height: 400px;
    border-radius: 0.5rem;
    font-size: 2rem;
    font-weight:700;
    color: var(--gray-light-color);
    cursor:pointer;
}

.post_image_wrapper .image_input_helper .image_input_wrapper:hover{
    background-color: black;
    opacity: 0.5;
}

.post_image_wrapper .image_input_helper .image_input_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    box-shadow: 0 0 0.2rem;
    border-radius: 0.5rem;
    transition: 0.5s
}

.post_image_wrapper .image_input_helper .image_icon{
    margin-bottom: 1rem;
}

.post_image_wrapper .image_input_helper .image_icon:before{
    font-size:5rem;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: var(--white-color)
}

.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: var(--white-color)
}

.post_image_wrapper .swiper-slide .swiper_image_wrapper{
    transition: 0.5s;
}

.post_image_wrapper .swiper-slide .swiper_image_wrapper:hover {
    background-color: var(--black-color);
    filter: brightness(0.5);
}

.post_image_wrapper .swiper-slide .swiper_image_wrapper:hover::after{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    width:100%;
    height:100%;
    content: "Click to change image.";
    transition: 0.5s;
}

/* 작성글 내용*/
.write_wrapper .post_content_wrapper {
    padding: 1rem 0;
    border-top : 1px solid var(--gray-light-color);
    border-bottom : 1px solid var(--gray-light-color);
}

.post_content_wrapper .content_textarea{
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem 0;
    font-size: 1rem;
    resize: none;
}

/* 작성글 버튼 */

.write_wrapper .btn_group{
    display: flex;
    margin-bottom: 2rem;
}

.write_wrapper .btn_group button{
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
}

.write_wrapper .btn_group button:hover{
    cursor:pointer;
}

.write_wrapper .btn_group .btn_submit{
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background-color: var(--Primary-color);
}

.write_wrapper .btn_group .btn_cancel{
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    background-color: var(--Secondary-color);
}
